@page "/register"
@layout LoginLayout
@using Microsoft.AspNetCore.Components.Authorization
@using BlazingChat.Shared.ViewModels
@using BlazingChat.Shared.Models
@using Newtonsoft.Json
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Blazored.LocalStorage.ILocalStorageService LocalStorageService
@inject HttpClient HttpClient


<h2><b>Register</b></h2>
<hr>

<EditForm Model="@_registerViewModel" OnValidSubmit="RegisterClick">
     <DataAnnotationsValidator />

    <div class="col-12 row">
        <input type="text" @bind="_registerViewModel.EmailAddress" class="form-control" placeholder="email address">
        <ValidationMessage For="@(() => _registerViewModel.EmailAddress)" />
    </div>
    <br />
    <div class="col-12 row">
        <input type="password" @bind="_registerViewModel.Password" class="form-control" placeholder="password">
        <ValidationMessage For="@(() => _registerViewModel.Password)" />
    </div>
    <br />
    <div class="col-12 row">
        <input type="password" @bind="_registerViewModel.ConfirmPassword" class="form-control" placeholder="cofirm password">
        <ValidationMessage For="@(() => _registerViewModel.ConfirmPassword)" />
    </div>
    <br />

    <div class="col-12 row">
        <button class="btn btn-danger">Register</button>
        <span>&nbsp;</span>
        <button class="btn btn-primary" @onclick="@(e => NavigationManager.NavigateTo("/"))">Login</button>
    </div>
    
</EditForm>

<ExternalLogins />

@code {
    
    private RegisterViewModel _registerViewModel { get; set; } = new RegisterViewModel();

    private async Task RegisterClick()
    {
        // need to write register functionality later
        User user = _registerViewModel;

        string serializedUser = JsonConvert.SerializeObject(user);

        var requestMessage = new HttpRequestMessage(HttpMethod.Post, "user/register");
        requestMessage.Content = new StringContent(serializedUser);

        requestMessage.Content.Headers.ContentType
            = new System.Net.Http.Headers.MediaTypeHeaderValue("application/json");

        var response = await HttpClient.SendAsync(requestMessage);

        var responseStatusCode = response.StatusCode;
        var responseBody = await response.Content.ReadAsStringAsync();

        user = JsonConvert.DeserializeObject<User>(responseBody);

        NavigationManager.NavigateTo("/profile",true);

    }
}